@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Light.woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Medium.woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-Bold.woff');
    font-weight: 700;
    font-style: normal;
}

@font-face { 
    font-family: 'Galien'; 
    src: url('../fonts/Galien-Bold.ttf');
    font-weight: 800;
    font-style: normal;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h4,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
}

body {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    overflow-x: hidden;
}

header {
    padding: 40px 83px;
}

.main-page {
    padding: 0px 10px 40px 83px;
    background: linear-gradient(0deg, #98c3e8, 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.navbar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 48px;
    margin: 0 auto;
}

.logo {
    width: 48px;
    height: 48px;
    float: left;
}

.logo-image {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 48px;
    height: 32px;
    padding: 8px 0px;
}

.ellipse-white {
    position: absolute;
    left: 10px;
}

.logo-text {
    position: absolute;
    left: 20px;
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #316099;
    padding-top: 4px;
}

.br-menu-btn {
    width: 32px;
    height: 32px;
    padding: 8px 0px;
    border: none; outline: none;
}

.br-menu-btn:hover {
    cursor: pointer;
}

.main-wrapper {
    height: 683px;
    display: flex;
    flex-direction: row;
    z-index: 20;
}

.main-page-text {
    width: 525px;
    margin-left: 8%;
    margin-top: 58px;
}

.main-title-block {
    margin-bottom: 32px;
    width: 525px;
}

h1 {
    font-family: 'Galien';
    font-size: 64px;
    line-height: 74px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    font-weight: 700;
}

.main-description {
    margin-bottom: 71px;
    width: 425px;
}

.main-description-text {
    font-family: 'Gilroy';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
}

.btn-submit {
    width: 220px;
    height: 56px;
    background: #5a98d0;
    box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
    border-radius: 10px;
    border: 0;
}

.btn-submit span {
    font-family: 'Gilroy';
    font-weight: 300;
    color: white;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.04em;
}

.illustration {
    display: flex;
    width: auto;
    margin-left: -70px;
    margin-top: -40px;
}

.illustration-bg {
    position: absolute;
    top: 20px;
    left: 21px;
    width: 646px;
    height: 490px;
}

.group-img {
    position: absolute;
    top: 240px;
    left: 190px;
    z-index: 35;
}

.group-img2 {
    position: absolute;
    top: 255px;
    left: 175px;
    z-index: 36;
}

.main-info {
    height: 1554px;
    padding: 40px 10px 40px 83px;
}

.main-info-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 1162px;
}

.main-info-title {
    width: 368px;
    height: 138px;
    margin-top: 152px;
    margin-left: 8%;
    font-family: 'Gilroy';
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #316099;
}

.table-box {
    width: 380px;
    height: 525px;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    float: right;
}

.box_one {
    margin-left: 20%;
    margin-top: 152px;
}

.table-box-image {
    width: 224px;
    height: 197px;
    margin: 0 auto;
    top: 12px;
}

.table-box-image img {
    margin-top: -24px;
}

.table-box-title {
    margin-top: 51px;
    margin-left: 48px;
    margin-bottom: 16px;
    width: 260px;
    height: 60px;
    font-family: 'Gilroy';
    font-size: 20px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #1f3f68;
}

.table-box-text {
    margin-left: 48px;
    width: 284px;
    height: 103px;
    font-family: 'Gilroy';
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #1f3f68;
    opacity: 0.6;
}

.table-box-more {
    display: flex;
    flex-direction: row;
    margin-left: 48px;
    margin-top: 32px;
    width: 127px;
    height: 30px;
}

.table-box-more-text {
    font-family: 'Gilroy';
    font-size: 14px;
    font-weight: 800;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #5a98d0;
}

.forward-vector {
    margin-left: 28px;
    margin-top: 7px;
}

.table-box-more a {
    cursor: pointer;
    color: #5a98d0;
}

.box_two {
    flex-wrap: wrap;
    margin-top: -220px;
    margin-left: 20%;
}

.image2 {
    margin-top: 48px;
    height: 132px;
}

.title3 {
    width: 286px;
}

.box_three {
    margin-left: 7%;
    margin-top: 110px;
}

.clients {
    height: 680px;
    background: #5a98d0;
    border-radius: 200px 0px 0px 0px;
}

.clients-wrapper {
    padding: 40px 10px 40px 83px;
}

.clients-top {
    display: flex;
    flex-direction: row;
    height: 92px;
    justify-content: center;
    margin-bottom: 10%;
    margin-left: -13%;
    margin-top: 56px;
}

.clients-title {
    width: 224px;
    height: 92px;
    font-family: 'Gilroy';
    font-size: 36px;
    font-weight: 600;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #ffffff;
}

.clients-text {
    margin-left: 97px;
    width: 540px;
    height: 80px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #ffffff;
    opacity: 0.6;
}

.table {
    width: 940px;
    height: 256px;
    margin: 0 auto;
}

table {
    border-collapse: collapse;
}

th {
    width: 235px;
    height: 128px;
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #f2f2f2;
    font-weight: 600;
    text-transform: uppercase;
}

tr.first-line th {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    border-collapse: collapse;
    opacity: 0.8;
}

tr.first-line th:last-child {
    border-right: none;
}

tr.second-line th {
    border-right: 1px solid rgba(255, 255, 255, 0.4);
    opacity: 0.8;
}

tr.second-line th:last-child {
    border-right: none;
    background-color: rgba(31, 63, 104, 0.2);
    text-transform: none;
    z-index: 2;
}

.footer-wrapper {
    width: 100%;
    background-color: #5a98d0;
    display: flex;
    flex-direction: column;
}

.chat {
    width: 93%;
    height: 391px;
    border-radius: 0px 200px 0px 0px;
    background-color: #316099;
    display: flex;
    flex-direction: row;
}

.chat-block {
    display: flex;
    flex-direction: column;
    margin-left: 14%;
}

.chat-block-title {
    margin-top: 91px;
    width: 330px;
    font-family: 'Gilroy';
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.05em;
    color: #f2f2f2;
    font-weight: 600;
}

.chat-block-text {
    margin-top: 32px;
    width: 460px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #f2f2f2;
    font-weight: 600;
    opacity: 0.6;
}

#myBtn {
    margin-top: 165px;
    margin-left: auto;
    margin-right: auto;
    width: 220px;
    height: 56px;
    background: #5a98d0;
    border-radius: 10px;
    color: #ffffff;
    border: none;
    outline: none;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    font-weight: 600;
  }

.chat-line {
    width: 93%;
    background-color: #316099;
}

.footer-info {
    display: flex;
    flex-direction: column;
    width: 93%;
    height: 459px;
    background-color: #316099;
}

.connect-block {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 14%;
    margin-top: 97px;
}

.white-round {
    margin-left: -20px;
}

.logo-block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.connect-title {
    display: flex;
    flex-direction: row;
    width: 188px;
}

.connect-title-block {
    display: flex;
    flex-direction: row;
    width: 125px;
    height: 46px;
    margin-left: 15px;
    font-family: 'Gilroy';
    font-size: 28px;
    line-height: 46px;
    letter-spacing: 0.02em;
    color: #fff;
    font-weight: 600;
}

.connect-first {
    display: flex;
    flex-direction: row;
    margin-top: 39px;
    margin-bottom: 24px;
}

.connect-tel, .connect-mail {
    display: flex;
    flex-direction: row;
    margin-bottom: 24px;
}

.connect-letter {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 600;
}

.connect-value {
    margin-left: 16px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 400;
}

.connect-value a {
    color: #fff;
}

.about-title {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 600;
}

.about-block {
    display: flex;
    flex-direction: column;
    width: 165px;
    margin-left: 100px;
    margin-top: 97px;
}

.about-list {
    margin-top: 39px;
}

.about-list li {
    margin-bottom: 16px;
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 400;
    list-style-type: none;
}

.copyright {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #fff;
    font-weight: 400;
    opacity: 0.4;
    background-color: #316099;
    margin-left: 14%;
    margin-top: 40px;
    margin-bottom: 64px;
}

.info-block {
    display: flex;
    flex-direction: row;
}
    
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
  
  
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    height: max-content;
    padding: 0;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
  
  
  @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
  }
  
  
  .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
  }
  
.contact-form {
    height: 800px;
    padding: 56px;
    box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
}

.popup-title {
    margin-top: 10px;
}

.title-form {
    font-family: 'Gilroy';
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 30px;
}

.input-name, .input-mail, .message {
    border-radius: 10px;
    border: 1px solid #356ead;
    box-sizing: border-box;
    opacity: 0.4;
    margin-top: 8px;
    cursor: pointer;
}

.input-name, .input-mail {
    width: 90%;
    height: 72px;
    padding: 20px;
}

.message {
    width: 90%;
    min-height: 90px;
    padding-left: 20px;
    padding-top: 20px;
}

.input-name::-webkit-input-placeholder, .input-mail::-webkit-input-placeholder {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    padding-left: 22px;
}

.message::-webkit-input-placeholder {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.04em;
    color: #1f3f68;
    padding-left: 22px;
    padding-top: 21px;
}

.submit {
    width: 94%;
    height: 72px;
    background: #5a98d0;
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    margin-top: 50px;
    border: none;
    cursor: pointer;
}

.submit span {
    font-family: 'Gilroy';
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.04em;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.contact-form {
    margin-left: 0px;
    width: 100%;
    padding: 0px;
    padding-top: 15px;
    height: auto;
}

.input-name::-webkit-input-placeholder {
    margin-left: -10%;
}

.close {
    position: absolute;
    right: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
}
.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 10px;
    content: ' ';
    height: 18px;
    width: 4px;
    background-color: #333;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}

 @media (min-width: 360px) and (max-width: 1390px) {

    .table-box {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        width: 100%;
        height: auto;
        max-width: 380px;
    }
}

@media (min-width: 1150px) and (max-width: 1390px) {

    .main-page {
        padding: 5%;
    }

    .main-wrapper, .main-info, .main-info-wrapper {
        height: auto;
    }

    .main-page-text, .main-info-title {
        margin-left: 2%;
        width: 100%;
        margin-top: 0px;
    }

    .main-title-block {
        width: 55%;
        height: auto;
    }

    .title-image {
        display: block;
        top: 50px;
    }

    .main-info-title {
        text-align: center;
    }
}



@media (min-width: 360px) and (max-width: 1149px) {

    header, .main-page, .main-info, .clients-wrapper {
        padding: 5%;
    }

    .main-wrapper, .main-info, .main-info-wrapper, 
    .main-info-title, .table-box-title, .table-box-text, 
    .clients, .footer-wrapper, .chat, .footer-info, .contact-wrapper, .contact-subtitle  {
        height: auto;
    }

    .main-page-text, .main-info-title {
        margin-left: 2%;
        width: 100%;
        margin-top: 0px;
    }

    .main-info-title {
        text-align: center;
    }

    .main-title-block {
        width: 55%;
        height: auto;
    }

    h1 {
        font-size: 2.4em;
    }

    .title-image {
        display: none;
    }

    .btn-submit, .main-info-title {
        margin-top: 20px;
        margin-bottom: 40px;
    }

    .table-box-title {
        width: 80%;
    }

    .table-box-text {
        margin-top: 20px;
        width: 80%;
    }

    .table-box-more {
        margin-bottom: 20px;
    }

    .clients-top {
        flex-direction: column;
        height: auto;
    }

    .clients-title, .clients-text {
        margin: 0 auto;
        width: 80%;
        height: auto;
        margin-left: 25%;
    }

    .clients-text {
        margin-top: 5%;
        margin-right: 5%;
        width: 75%;
    }

    .table {
        width: auto;
        height: auto;
    }

    .chat {
        display: flex;
        flex-direction: column;
    }

    .chat-block {
        margin-left: 5%;
    }

    .chat-block-title {
        margin-top: 10%;
        width: 70%;
    }

    .chat-block-text {
        width: 90%;
    }

    .chat-button {
        margin-top: 15%;
        margin-left: 5%;
        margin-bottom: 5%;
    }

    .info-block {
        flex-direction: column;
    }

    .connect-block, .about-block, .copyright {
        margin-top: 10%;
        margin-left: 5%;
        width: 100%;
    }

    .connect-value, .copyright {
        width: 86%;
    }

    .illustration {
        display: block;
        width: 100%;
        min-width: 100px;
        min-height: 100px;
        height: fit-content;
        margin-top: 2rem;
    }

    .contact-info {
        width: 100%;
    }

    .contact-subtitle {
        width: 100%;
        margin-bottom: 10%;
    }

    .contact-main {
        flex-direction: column;
        padding: 5%;
    }

    .contact-form {
        margin-left: 0px;
        width: 100%;
        padding-top: 15px;
        height: auto;
    }

    h3, .title-form, .input-name {
        margin-left: 5%;
    }

    .input-name, .input-mail, .message, .submit {
        width: 90%;
        margin-left: 5%;
    }

    .submit {
        margin-bottom: 5%;
    }

}

@media (min-width: 1150px) and (max-width: 1245px) {
    .illustration {
        max-width: 620px;
    }
}

@media (min-width: 1150px) {
    h3, .title-form, .input-name, .input-mail, .message, .submit {
        margin-left: 5%;
    }
}

@media (min-width: 1150px) {
    .submit {
        margin-left: 5%;
        margin-bottom: 5%;
        width: 90%;
    }
}

@media (min-width: 360px) and (max-width: 650px) {

    .main-description {
        width: 90%;
    }
}

@media (min-width: 651px) and (max-width: 1000px) {

    .main-description {
        width: 50%;
        height: auto;
    }

    .main-title-block {
        width: 50%;
    }
}